<div class="modal fade" id="expense_modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <%= form_for @expense, remote: true do |f| %>
        <div class="modal-header">
          <h4 class="modal-title">Expenses</h4>
        </div>
        <div class="modal-body">
          <h4><%= form_title %></h4>
          <div class="form-group col-md-6">
            <%= f.select :type, Expense.types.keys %>
          </div>
          <div class="form-group col-md-6">
            <%= f.date_field :date, class: "form-control", placeholder: "Fecha"%>
          </div>
          <div class="form-group col-sm-12">
            <%= f.text_field :concept, class: "form-control", placeholder: "Concepto"%>
          </div>
          <div class="form-group col-md-6">
            <%= f.select :category, Expense.categories.keys  %>
          </div>
          <div class="form-group col-md-6">
            <%= f.number_field :amount, class: "form-control", placeholder: "Cantidad" %>
          </div>
          <div class="text-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
          <div class="text-right">
            <%= f.submit form_title, class: "btn btn-primary"  %>
          </div>
        </div>


      <% end %>
    <!-- cierral el modal content -->
    </div>
  </div>
</div>
