<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="filter-header">Transaction Type <span>Choose to filter</span></h4>
      <div class="list-group filter-type">
        <a href="#" class="list-group-item" id= "purchasetype">Purchase</a>
        <a href="#" class="list-group-item">Withdrawal</a>
        <a href="#" class="list-group-item">Transfer</a>
        <a href="#" class="list-group-item">Payment</a>
      </div>

      <h4 class="filter-header">Category <span>Selecciona para filtrar</span></h4>
      <div class="list-group filter-type">
        <a href="#" class="list-group-item">Restaurants</a>
        <a href="#" class="list-group-item">Grocery</a>
        <a href="#" class="list-group-item">Car</a>
        <a href="#" class="list-group-item">Services</a>
        <a href="#" class="list-group-item">Home</a>
        <a href="#" class="list-group-item">Education</a>
        <a href="#" class="list-group-item">Fun</a>
        <a href="#" class="list-group-item">Travel</a>
        <a href="#" class="list-group-item">Imprevist</a>
      </div>

    </div>
    <div class="col-md-9 index-data">
      <div class="row" style="margin-top: 10px;">
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value"><%= @total_amount %></div>
          <div class="summary-label">Total</div>
        </diV>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value"><%= @num_transactions %></div>
          <div class="summary-label">Transactions</div>
        </div>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value"><%= @average %></div>
          <div class="summary-label">Average</div>
        </div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
          <div class="btn btn success pull-left" id="modal_button">
            <span class="glyphicon glyphicon-plus"></span>
            Crear Gasto
          </div>


          <h4 class="dropdown pull-right">
            <button type="button" class="dropdown-toggle btn btn-link" data-toggle="dropdown">Filtra por mes <span class="caret"></span></button>
            <ul class="dropdown-menu months">
              <li id="seppicker"><a href="#">Septiembre 2019</a></li>
              <li id="augustpicker"><a href="#">Agosto 2019</a></li>
              <li id="julpicker" ><a href="#">Julio 2019</a></li>
              <li id="junpicker" ><a href="#">Junio 2019</a></li>
              <li id="maypicker"><a href="#">Mayo 2019</a></li>
              <li id="appicker"><a href="#">Abril 2019</a></li>
              <li id="marpicker"><a href="#">Marzo 2019</a></li>
              <li id="febpicker"><a href="#">Febrero 2019</a></li>
              <li id="janpicker"><a href="#">Enero 2019</a></li>
              <li id="dicpicker"><a href="#">Diciembre 2018</a></li>
              <li id="novpicker"><a href="#">Noviembre 2018</a></li>
              <li id="ocpicker"><a href="#">Octubre 2018</a></li>
            </ul>
          </h4>
        </div>
      </div>

      <input type="text" id="rangepicker">
      <table id="expenses-table" class="table table-hover" style="margin-top: 20px;">
        <thead>
          <tr>
            <th class="text-center">Día</th>
            <th>Concepto</th>
            <th class="text-right">Categoría</th>
            <th class="text-right">Valor</th>
          </tr>
        </thead>
        <tbody>

          <% @expenses.each do |e| %>
            <tr>
              <td class="date">
                <div class="day"><%= e.date.strftime("%d") %></div>
                <div class="month"><%= e.date.strftime("%b") %></div>
              </td>
              <td>
                <div>
                  <span class="type"><%= e.type %></span>
                </div>
                <div>
                  <span class="concept"><%= e.concept %></span>
                </div>
              </td>
              <td class="category text-right"><%= e.category %></td>
              <td class="text-right" style="width: 170px;">
                <div class="amount"><%= e.amount %></div>
                <div class="actions">
                  <a href="#"><span class="glyphicon glyphicon-edit"></span> Editar</a>
                  <a href="#"><span class="glyphicon glyphicon-trash"></span> <%= link_to "Eliminar", e, method: :delete, data: { confirm: "Estas seguro de eliminar este gasto?"} %></a>
                </div>
              </td>
            </tr>
          <% end %>

        </tbody>
      </table>









        <!-- Modal -->
        <div class="modal fade" id="my_modal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <%= form_for @expense do |f| %>
              <div class="modal-header">
                <h4 class="modal-title">Expenses</h4>
              </div>

              <div class="modal-body">
                <h4><%= form_title %></h4>
                  <div class="form-group col-md-6">
                    <%= select_tag :type, options_for_select(Expense.types), class: "form-control"%>
                  </div>
                  <div class="form-group col-md-6">
                    <%= f.date_field :date, class: "form-control", placeholder: "Fecha"%>
                  </div>
                  <div class="form-group col-sm-12">
                    <%= f.text_field :concept, class: "form-control", placeholder: "Concepto"%>
                  </div>
                  <div class="form-group col-md-6">
                    <%= select_tag :category, options_for_select(Expense.categories), class: "form-control"%>
                  </div>
                  <div class="form-group col-md-6">
                    <%= f.number_field :amount, class: "form-control", placeholder: "Cantidad" %>
                  </div>
                  <div>
                    <%= f.submit form_title, class: "btn btn-primary btn-lg btn-block"  %>
                  </div>


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>


              <% end %>
            <!-- cierral el modal content -->
            </div>

          </div>
        </div>




<%= form_tag expenses_path, method: :get do %>
  <%= hidden_field_tag :start %>
  <%= hidden_field_tag :end %>
  <%= hidden_field_tag :type %>
<% end %>

<script>
  $('#modal_button').on("click", function(e){
    e.preventDefault()
    $('#my_modal').modal('show')
  })

  $('#purchasetype').on("click", function(){
    $("#type").val("purchase");
    $("form").submit();
  })

  $("#rangepicker").daterangepicker({
    startDate: moment("<%= l @start_date, format: '%Y-%m-%d' %>"),
    endDate: moment("<%= l @end_date, format: '%Y-%m-%d' %>"),
  }, function(start, end, label){
    $("#start").val(start.format('YYYY-MM-DD'));
    $("#end").val(end.format('YYYY-MM-DD'));
    $("form").submit();
  });

  $("#seppicker").on("click", function(){
    $("#start").val('2019-09-01');
    $("#end").val('2019-09-30');
    $("form").submit();
  })

  $("#augustpicker").on("click", function(){
    $("#start").val('2019-08-01');
    $("#end").val('2019-08-31');
    $("form").submit();
  })

  $("#julpicker").on("click", function(){
    $("#start").val('2019-07-01');
    $("#end").val('2019-07-30');
    $("form").submit();
  })

  $("#junpicker").on("click", function(){
    $("#start").val('2019-06-01');
    $("#end").val('2019-06-30');
    $("form").submit();
  })


  $("#maypicker").on("click", function(){
    $("#start").val('2019-05-01');
    $("#end").val('2019-05-30');
    $("form").submit();
  })

  $("#appicker").on("click", function(){
    $("#start").val('2019-04-01');
    $("#end").val('2019-04-30');
    $("form").submit();
  })

  $("#marpicker").on("click", function(){
    $("#start").val('2019-03-01');
    $("#end").val('2019-03-30');
    $("form").submit();
  })

  $("#febpicker").on("click", function(){
    $("#start").val('2019-02-01');
    $("#end").val('2019-02-28');
    $("form").submit();
  })

  $("#janpicker").on("click", function(){
    $("#start").val('2019-01-01');
    $("#end").val('2019-01-30');
    $("form").submit();
  })

  $("#dicpicker").on("click", function(){
    $("#start").val('2018-12-01');
    $("#end").val('2018-12-30');
    $("form").submit();
  })

  $("#novpicker").on("click", function(){
    $("#start").val('2018-11-01');
    $("#end").val('2018-11-30');
    $("form").submit();
  })

  $("#ocpicker").on("click", function(){
    $("#start").val('2018-10-01');
    $("#end").val('2018-10-30');
    $("form").submit();
  })
</script>
