<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="filter-header">Transaction Type <span>Choose to filter</span></h4>
      <div class="list-group filter-type" id="filter_types">



        <div class="purchase_filter">
          <% if @click_handling == "true_no" %>
            <%= link_to 'Purchase', expenses_path(:start => @start_date, :end => @end_date, :type => "purchase", :click_handling => "true_pur"), class:"filter_types list-group-item purchase_type" %>
          <% elsif @click_handling == "true_pur" %>
            <%= link_to 'Purchase', expenses_path(:start => @start_date, :end => @end_date, :type => "", :click_handling => "true_no"), class:"filter_types list-group-item purchase_type active" %>
          <% else %>
            <%= link_to 'Purchase', expenses_path(:start => @start_date, :end => @end_date, :type => "purchase", :click_handling => "true_pur"), class:"filter_types list-group-item purchase_type" %>
          <% end %>
        </div>


        <div class="withdrawal_filter">
          <% if @click_handling != "true_with" %>
            <%= link_to 'withdrawal', expenses_path(:start => @start_date, :end => @end_date, :type => "withdrawal", :click_handling => "true_with"), class:"filter_types list-group-item withdrawal_type" %>
          <% else %>
            <%= link_to 'withdrawal', expenses_path(:start => @start_date, :end => @end_date, :type => "withdrawal", :click_handling => "true_with"), class:"filter_types list-group-item withdrawal_type active" %>
          <% end %>
        </div>

        <div class="transfer_filter">
          <% if @click_handling != "true_trans" %>
            <%= link_to 'transfer', expenses_path(:start => @start_date, :end => @end_date, :type => "transfer", :click_handling => "true_trans"), class:"filter_types list-group-item transfer_type" %>
          <% else %>
            <%= link_to 'transfer', expenses_path(:start => @start_date, :end => @end_date, :type => "transfer", :click_handling => "true_trans"), class:"filter_types list-group-item transfer_type active" %>
          <% end %>
        </div>

        <div class="payment_filter">
          <% if @click_handling != "true_pay" %>
            <%= link_to 'payment', expenses_path(:start => @start_date, :end => @end_date, :type => "payment", :click_handling => "true_pay"), class:"filter_types list-group-item payment_type" %>
          <% else %>
            <%= link_to 'payment', expenses_path(:start => @start_date, :end => @end_date, :type => "payment", :click_handling => "true_pay"), class:"filter_types list-group-item payment_type active" %>
          <% end %>
        </div>


      </div>

      <h4 class="filter-header">Category <span>Selecciona para filtrar</span></h4>
      <div class="list-group filter-type">
        <a href="#" class="list-group-item">Restaurants</a>
        <a href="#" class="list-group-item">Grocery</a>
        <a href="#" class="list-group-item">Car</a>
        <a href="#" class="list-group-item">Services</a>
        <a href="#" class="list-group-item">Home</a>
        <a href="#" class="list-group-item">Education</a>
        <a href="#" class="list-group-item">Fun</a>
        <a href="#" class="list-group-item">Travel</a>
        <a href="#" class="list-group-item">Imprevist</a>
      </div>
    </div>

    <div class="col-md-9 index-data">
      <div class="row" style="margin-top: 10px;">
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value"><%= @total_amount %></div>
          <div class="summary-label">Total</div>
        </diV>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value"><%= @num_transactions %></div>
          <div class="summary-label">Transactions</div>
        </div>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value"><%= @average %></div>
          <div class="summary-label">Average</div>
        </div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
          <div class="btn btn success pull-left" id="modal_button">
            <%= link_to "Nuevo Gasto", new_expense_path, remote: true, class: "btn btn-primary" %>
            <span class="glyphicon glyphicon-plus"></span>
          </div>

          <h4 class="dropdown pull-right">
            <button type="button" class="dropdown-toggle btn btn-link" data-toggle="dropdown">Filtra por mes <span class="caret"></span></button>
            <ul class="dropdown-menu months">
              <li id="ocpicker">
                <%= link_to "Octubre 2019", expenses_path(:start => "2019-10-01", :end => "2019-10-31", :type => @types) %>
              </li>
              <li id="seppicker">
                <%= link_to "Septiembre 2019", expenses_path(:start => "2019-09-01", :end => "2019-09-30", :type => @types) %>
              </li>
              <li id="augustpicker">
                <a href="#">Agosto 2019</a>
              </li>
              <li id="julpicker" >
                <a href="#">Julio 2019</a>
              </li>
              <li id="junpicker" >
                <a href="#">Junio 2019</a>
              </li>
              <li id="maypicker">
                <a href="#">Mayo 2019</a>
              </li>
              <li id="appicker">
                <a href="#">Abril 2019</a>
              </li>
              <li id="marpicker">
                <a href="#">Marzo 2019</a>
              </li>
              <li id="febpicker">
                <a href="#">Febrero 2019</a>
              </li>
              <li id="janpicker">
                <a href="#">Enero 2019</a>
              </li>
              <li id="dicpicker">
                <a href="#">Diciembre 2018</a>
              </li>
              <li id="novpicker">
                <a href="#">Noviembre 2018</a>
              </li>
            </ul>
          </h4>
        </div>
      </div>

      <table id="expenses-table" class="table table-hover" style="margin-top: 20px;">
        <thead>
          <tr>
            <th class="text-center">Día</th>
            <th>Concepto</th>
            <th class="text-right">Categoría</th>
            <th class="text-right">Valor</th>
          </tr>
        </thead>
        <tbody>
          <%= render @expenses %>
        </tbody>
      </table>
    </div>
  </div>
</div>



<script>
  // $('.tipos_filtros').on('click', function(){
  //   $('.filter_types').removeClass("active");
  //   $(this).addClass("active");
  // })

  // $('#purchase_type').on("click", function(){
  //   $("#start").val('<%= @start_date %>');
  //   $("#end").val('<%= @end_date %>');
  //   $('#type').val("purchase");
  //   $("form").submit();
  // });
  //
  // $('#withdrawal_type').on("click", function(e){
  //   $("#start").val('<%= @start_date %>');
  //   $("#end").val('<%= @end_date %>');
  //   $('#type').val("withdrawal");
  //   $("form").submit();
  // });
  //
  // $('#payment_type').on("click", function(e){
  //   $("#start").val('<%= @start_date %>');
  //   $("#end").val('<%= @end_date %>');
  //   $('#type').val("payment");
  //   $("form").submit();
  // });
  //
  // $('#transfer_type').on("click", function(e){
  //   $("#start").val('<%= @start_date %>');
  //   $("#end").val('<%= @end_date %>');
  //   $('#type').val("transfer");
  //   $("form").submit();
  // });





  // $("#seppicker").on("click", function(){
  //   $("#start").val('2019-09-01');
  //   $("#end").val('2019-09-30');
  //   $("form").submit();
  // })

  $("#augustpicker").on("click", function(){
    $("#start").val('2019-08-01');
    $("#end").val('2019-08-31');
    $("form").submit();
  })

  $("#julpicker").on("click", function(){
    $("#start").val('2019-07-01');
    $("#end").val('2019-07-30');
    $("form").submit();
  })

  $("#junpicker").on("click", function(){
    $("#start").val('2019-06-01');
    $("#end").val('2019-06-30');
    $("form").submit();
  })

  $("#maypicker").on("click", function(){
    $("#start").val('2019-05-01');
    $("#end").val('2019-05-30');
    $("form").submit();
  })

  $("#appicker").on("click", function(){
    $("#start").val('2019-04-01');
    $("#end").val('2019-04-30');
    $("form").submit();
  })

  $("#marpicker").on("click", function(){
    $("#start").val('2019-03-01');
    $("#end").val('2019-03-30');
    $("form").submit();
  })

  $("#febpicker").on("click", function(){
    $("#start").val('2019-02-01');
    $("#end").val('2019-02-28');
    $("form").submit();
  })

  $("#janpicker").on("click", function(){
    $("#start").val('2019-01-01');
    $("#end").val('2019-01-30');
    $("form").submit();
  })

  $("#dicpicker").on("click", function(){
    $("#start").val('2018-12-01');
    $("#end").val('2018-12-30');
    $("form").submit();
  })

  $("#novpicker").on("click", function(){
    $("#start").val('2018-11-01');
    $("#end").val('2018-11-30');
    $("form").submit();
  })

</script>
